@mixin font-face(){
    @font-face {
        font-family: 'FontAwesome';
        src: url('../../Content/fonts/fontawesome-webfont.eot?v=4.7.0');
        src: url('../../Content/fonts/fontawesome-webfont.eot?#iefix&v=4.7.0') format('embedded-opentype'), url('../../Content/fonts/fontawesome-webfont.woff2?v=4.7.0') format('woff2'), url('../../Content/fonts/fontawesome-webfont.woff?v=4.7.0') format('woff'), url('../../Content/fonts/fontawesome-webfont.ttf?v=4.7.0') format('truetype'), url('../../Content/fonts/fontawesome-webfont.svg?v=4.7.0#fontawesomeregular') format('svg');
        font-weight: normal;
        font-style: normal;
    }
}
@mixin general-col-rule($i:1,$list:".col-xs-#{$i}, col-sm-#{$i}, col-md-#{$i}, col-lg-#{$i}", $cols:1, $padding-horizontal:20px){
    @for $it from 1 through $cols{
            $list:"#{$list}, .col-xs-#{$it}, col-sm-#{$it}, col-md-#{$it}, col-lg-#{$it}"
    }
    #{$list}{
        min-height: 1px;
        float: left;
    }
}
@mixin clearfix(){
    &:before, &:after{
        content: " ";
        display: table;
    }
    &:after{
        clear: both;
    }
}

@mixin gen-col-family($prefix:'xs',$width:750px,$columns:1){
    @if $prefix == 'xs'{
        @for $i from 1 through $columns{
            .col-#{$prefix}-#{$i} {
                width: #{percentage((($width/$columns)/$width)*$i)};
            }
        }
    }
    @else{
    @media all and (min-width:$width){
        @for $i from 1 through $columns{
            .col-#{$prefix}-#{$i} {
                width: #{percentage((($width/$columns)/$width)*$i)};
            }
        }
    }
    }
}
@mixin gen-col-offset($prefix:'xs',$width:750px,$columns:1){
    @if $prefix == 'xs'{
        @for $i from 1 through $columns{
            .col-#{$prefix}-offset-#{$i} {
                margin-left: #{percentage((($width/$columns)/$width)*$i)};
            }
        }
    }
    @else{
    @media all and (min-width:$width){
        @for $i from 1 through $columns{
            .col-#{$prefix}-offset-#{$i} {
                margin-left: #{percentage((($width/$columns)/$width)*$i)};
            }
        }
    }
    }
}
@mixin uppercase{
    &_uppercase{
        text-transform: uppercase;
    }
}
@mixin capitalized{
    &_capitalized{
        text-transform: capitalize;
    }
}
@mixin theme($color: #000000){
    &_theme{
        color: $color;
    }
}
@mixin separated-top($border-color: #000000){
    &_separated-top{
        border-top: 1px solid $border-color;
    }
}
@mixin transition(){
    &{
        -webkit-transition: left .4s ease;
        -moz-transition: left .4s ease;
        -o-transition: left .4s ease;
        transition: left .4s ease;
    }
}
