.login-info{
    border-top: 1px solid $user-info-border-color;
    padding: 10px 15px;
    @include theme($user-info-color);
    &__header{
        font-size: 11px;
        text-transform: uppercase;
    }
    &__user{
        padding-left: 15px;
        text-transform: capitalize;
    }
}