.pagination{
    margin-top: 10px;
    margin-bottom: 10px;
    &_theme{
        color: $pagination-color;
    }
    &__item{
        display: inline-block;
        font-weight: bold;
    }
    &__link{
        text-decoration: none;
        cursor: pointer;
        &:active{
            color: $pagination-link-active;
        }
        @include theme($pagination-color)
    }
    &__text{
        display: inline-block;
        padding: 0 5px;
        text-transform: capitalize;
        font-weight: bold;
    }
}