.list{
    @include clearfix();
    &__header{
        display: inline-block;
        font-size: 32px;
        margin: 15px 0;
    }
    &__info{
        width: 100%;
        &_float-right{
            float: right;
        }
        @media all and (min-width:map-get($resolutions,'lg')){
            &{
                width: 49%;
                display: inline-block;
            }
        }
    }
    &__item{
        border-top: 1px solid $border-color;
        padding: 5px 0;
        @include clearfix();
    }
    &__item-name{
        display: inline-block;
        font-weight: bold;
    }
    &__item-content{
        display: inline-block;
        float: right;
        text-align: right;
        &_theme{
            color: $text-gray;
        }
    }
    
}