$color-primary: $dark-blue;
$color-shadow: $secondary;
$color-background: $secondary;
$color-background-shade: darken($secondary, 15%);
$color-text: $black;
$color-text-weak: $light-grey;
$color-text-inverted: $white;
$color-text-link: $color-primary;
$color-text-link-hover: $raspbery;
$color-text-link-active: $bleak-raspbery;
$color-border: $bleak-grey;