@mixin adaptiveImage($width: 100%, $height: 100%){
    max-width: $width;
    max-height: $height;
}
@mixin nav-hover-action($property:all, $delta: 3px){
    &{
        transition: $property .1s ease;
        background-position: top center;
        padding-top: 38px;
        @media all and (max-width: 480px){
            padding-top: 5px;
        }
        &:hover{
            background-position-y: $delta;
        }
    }
    @media all and (min-width: 992px){
        &{
            padding: 10px  5px 10px 38px; 
            background-position: left center;
            &:hover{
                background-position-y: center;
                background-position-x: $delta;
            }
        }
    }
    @media all and (max-width: 480px){
        &{
            background-image: none; 
        }
    }
}
@mixin moveBackground(){
    @keyframes move{
        from{
            background-position: 0px 0px;
        }
        to{
            background-position: 100% 0;
        }
    }
}