.container{
    background: $container-background;
    margin-left: $nav-width;
    @include clearfix();
    &__header{
        position: relative;
    }
    @media all and (max-width:map-get($resolutions,'xs')){
        &{
            position: absolute;
            bottom: 0;
            top: $header-height-mobile;
            overflow: auto;
            margin: 0;
            padding-left: 25px;
        }
    }
}