html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

* {
  box-sizing: border-box; }

a {
  color: #034f84;
  cursor: pointer;
  text-decoration: none; }
  a:hover {
    color: #c94c4c;
    border-color: #c94c4c; }
  a:active {
    color: #f7786b;
    border-color: #f7786b; }

h2, h4, h5, h6 {
  padding: 10px 0;
  font-weight: bold; }

h2 {
  font-size: 24px; }

h4 {
  font-size: 18px; }

h5 {
  font-size: 16px; }

h6 {
  font-size: 14px; }

@-webkit-keyframes move {
  from {
    background-position: 0px 0px; }
  to {
    background-position: 100% 0; } }

@keyframes move {
  from {
    background-position: 0px 0px; }
  to {
    background-position: 100% 0; } }

.l-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: column wrap;
      flex-flow: column wrap;
  font-family: 'Times New Roman', Times, serif;
  margin: 0 auto;
  max-width: 1080px;
  min-width: 320px;
  padding: 50px; }
  @media all and (min-width: 992px) {
    .l-container {
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap; } }
  @media all and (max-width: 768px) {
    .l-container {
      padding: 10px; } }

.l-header {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: row nowrap;
      flex-flow: row nowrap;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  padding: 10px 10px; }
  @media all and (min-width: 992px) {
    .l-header {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column; } }
  @media all and (max-width: 992px) {
    .l-header {
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between; } }
  @media all and (max-width: 480px) {
    .l-header {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column; } }

.l-main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 2;
      -ms-flex: 2 0 0%;
          flex: 2 0 0%;
  -ms-flex-flow: column nowrap;
      flex-flow: column nowrap; }

.l-footer {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-top: 1px solid #d9d9d9;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: row wrap;
      flex-flow: row wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 auto;
  max-width: 1080px;
  min-width: 320px;
  padding: 10px 50px; }
  @media all and (max-width: 768px) {
    .l-footer {
      padding: 10px; } }
  @media all and (max-width: 480px) {
    .l-footer {
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center; } }
  .l-footer-div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-flow: row wrap;
        flex-flow: row wrap;
    padding: 10px 10px; }

.m-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around; }
  @media all and (min-width: 992px) {
    .m-nav {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-pack: start;
          -ms-flex-pack: start;
              justify-content: flex-start; } }
  @media all and (max-width: 992px) {
    .m-nav {
      -webkit-box-flex: 1;
          -ms-flex: 1 0 auto;
              flex: 1 0 auto; } }
  @media all and (max-width: 768px) {
    .m-nav {
      font-size: 12px;
      margin-top: 10px; } }
  @media all and (max-width: 480px) {
    .m-nav {
      -webkit-box-ordinal-group: 0;
          -ms-flex-order: -1;
              order: -1; } }
  .m-nav-item {
    display: block;
    margin: 0 5px;
    padding: 10px 0 15px 0; }
  .m-nav-travelmates {
    background: url("../content/icons/suitcase.png") no-repeat; }
    .m-nav-travelmates {
      -webkit-transition: background-position 0.1s ease;
      transition: background-position 0.1s ease;
      background-position: top center;
      padding-top: 38px; }
      @media all and (max-width: 480px) {
        .m-nav-travelmates {
          padding-top: 5px; } }
      .m-nav-travelmates:hover {
        background-position-y: 3px; }
    @media all and (min-width: 992px) {
      .m-nav-travelmates {
        padding: 10px  5px 10px 38px;
        background-position: left center; }
        .m-nav-travelmates:hover {
          background-position-y: center;
          background-position-x: 3px; } }
    @media all and (max-width: 480px) {
      .m-nav-travelmates {
        background-image: none; } }
  .m-nav-blog {
    background: url("../content/icons/blog.png") top center no-repeat; }
    .m-nav-blog {
      -webkit-transition: background-position 0.1s ease;
      transition: background-position 0.1s ease;
      background-position: top center;
      padding-top: 38px; }
      @media all and (max-width: 480px) {
        .m-nav-blog {
          padding-top: 5px; } }
      .m-nav-blog:hover {
        background-position-y: 3px; }
    @media all and (min-width: 992px) {
      .m-nav-blog {
        padding: 10px  5px 10px 38px;
        background-position: left center; }
        .m-nav-blog:hover {
          background-position-y: center;
          background-position-x: 3px; } }
    @media all and (max-width: 480px) {
      .m-nav-blog {
        background-image: none; } }
  .m-nav-list {
    background: url("../content/icons/alist.png") no-repeat; }
    .m-nav-list {
      -webkit-transition: background-position 0.1s ease;
      transition: background-position 0.1s ease;
      background-position: top center;
      padding-top: 38px; }
      @media all and (max-width: 480px) {
        .m-nav-list {
          padding-top: 5px; } }
      .m-nav-list:hover {
        background-position-y: 3px; }
    @media all and (min-width: 992px) {
      .m-nav-list {
        padding: 10px  5px 10px 38px;
        background-position: left center; }
        .m-nav-list:hover {
          background-position-y: center;
          background-position-x: 3px; } }
    @media all and (max-width: 480px) {
      .m-nav-list {
        background-image: none; } }
  .m-nav-contribute {
    background: url("../content/icons/contribute.png") no-repeat; }
    .m-nav-contribute {
      -webkit-transition: background-position 0.1s ease;
      transition: background-position 0.1s ease;
      background-position: top center;
      padding-top: 38px; }
      @media all and (max-width: 480px) {
        .m-nav-contribute {
          padding-top: 5px; } }
      .m-nav-contribute:hover {
        background-position-y: 3px; }
    @media all and (min-width: 992px) {
      .m-nav-contribute {
        padding: 10px  5px 10px 38px;
        background-position: left center; }
        .m-nav-contribute:hover {
          background-position-y: center;
          background-position-x: 3px; } }
    @media all and (max-width: 480px) {
      .m-nav-contribute {
        background-image: none; } }
  .m-nav-about {
    background: url("../content/icons/about.png") no-repeat; }
    .m-nav-about {
      -webkit-transition: background-position 0.1s ease;
      transition: background-position 0.1s ease;
      background-position: top center;
      padding-top: 38px; }
      @media all and (max-width: 480px) {
        .m-nav-about {
          padding-top: 5px; } }
      .m-nav-about:hover {
        background-position-y: 3px; }
    @media all and (min-width: 992px) {
      .m-nav-about {
        padding: 10px  5px 10px 38px;
        background-position: left center; }
        .m-nav-about:hover {
          background-position-y: center;
          background-position-x: 3px; } }
    @media all and (max-width: 480px) {
      .m-nav-about {
        background-image: none; } }

.m-logo {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: url("../content/images/bg-clouds.png") no-repeat;
  background-size: cover;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 content;
          flex: 1 0 content;
  height: 120px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  vertical-align: bottom;
  width: 120px; }
  .m-logo img {
    max-width: 60%;
    max-height: 60%; }
  .m-logo:hover {
    -webkit-animation: move 20s linear infinite;
            animation: move 20s linear infinite; }

.m-carousel {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  padding: 0 10px;
  position: relative; }
  .m-carousel-img {
    display: block;
    margin: 0 auto;
    max-width: 100%;
    max-height: 100%; }
  .m-carousel-control {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
    -ms-flex-flow: row nowrap;
        flex-flow: row nowrap; }
    @media all and (max-width: 768px) {
      .m-carousel-control {
        display: none; } }
  .m-carousel-description {
    bottom: 30%;
    left: 0;
    padding: 0 10px;
    position: absolute; }
    .m-carousel-description:hover {
      opacity: 0.9; }
    @media all and (max-width: 768px) {
      .m-carousel-description {
        bottom: 0;
        width: 100%; } }
  .m-carousel-header {
    background: white;
    display: inline-block;
    padding: 10px 20px; }
    @media all and (max-width: 768px) {
      .m-carousel-header {
        background: rgba(222, 234, 238, 0.75);
        width: 100%; } }
  .m-carousel-summ {
    background: #deeaee;
    font-style: italic;
    padding: 10px 20px; }
    @media all and (max-width: 768px) {
      .m-carousel-summ {
        background: rgba(222, 234, 238, 0.75); } }

.m-menu-item {
  background: #deeaee;
  display: block;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 100px;
          flex: 1 0 100px;
  padding: 10px 10px 10px 10px;
  text-align: left; }
  .m-menu-item:hover {
    background: #accad4; }
  @media all and (max-width: 992px) {
    .m-menu-item {
      text-align: center; }
      .m-menu-item-text {
        display: none; } }

.m-article {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 22%;
          flex: 1 0 22%;
  padding: 10px 10px; }
  .m-article-section {
    -ms-flex-line-pack: start;
        align-content: flex-start;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
    -ms-flex-flow: row wrap;
        flex-flow: row wrap; }
  @media all and (max-width: 768px) {
    .m-article {
      -webkit-box-flex: 1;
          -ms-flex: 1 0 50%;
              flex: 1 0 50%; } }
  @media all and (max-width: 480px) {
    .m-article {
      -webkit-box-flex: 1;
          -ms-flex: 1 0 100%;
              flex: 1 0 100%; } }
  .m-article-img {
    margin: 0 auto;
    max-width: 100%;
    max-height: 100%; }
  .m-article-footer {
    margin-top: 15px; }
  .m-article-link {
    font-size: 12px;
    font-weight: bold;
    quotes: "" "\00A0\00bb";
    border-bottom: 1px dashed #d9d9d9; }
    .m-article-link:hover {
      border-color: #999999; }
    .m-article-link:before {
      content: open-quote; }
    .m-article-link:after {
      content: close-quote; }

.date-stamp {
  color: #808080;
  display: inline-block;
  font-size: 14px; }
  .date-stamp:after {
    content: "/";
    padding: 0 5px; }

.twitter-32, .facebook-32, .rss-32 {
  display: block;
  height: 32px;
  margin: 5px 5px;
  width: 32px; }

.twitter-32 {
  background: url("../content/icons/twitter-32.png") no-repeat; }

.twitter-16 {
  background: url("../content/icons/twitter-16.png") no-repeat; }

.facebook-32 {
  background: url("../content/icons/facebook-32.png") no-repeat; }

.facebook-16 {
  background: url("../content/icons/facebook-16.png") no-repeat; }

.rss-32 {
  background: url("../content/icons/rss-32.png") no-repeat; }

.media-big {
  margin: 15px 0;
  padding: 0 20px 0 0;
  width: 100%; }
  @media all and (max-width: 992px) {
    .media-big {
      display: none; } }
  .media-big-header {
    border-bottom: 1px dashed #d9d9d9;
    color: #034f84;
    font-style: italic;
    margin-bottom: 10px;
    text-transform: uppercase;
    text-align: center; }
  .media-big-text {
    font-size: 14px;
    font-style: italic;
    font-weight: bold;
    margin-bottom: 20px;
    max-width: 140px; }
  .media-big-btn {
    background-position: left center;
    border: 1px solid #034f84;
    border-radius: 5px;
    display: block;
    padding: 3px 3px 3px 18px;
    text-align: center; }

.site-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: column nowrap;
      flex-flow: column nowrap; }

.m-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: row nowrap;
      flex-flow: row nowrap; }
  .m-list-item {
    padding: 10px 0; }
    .m-list-item:not(:first-child):before {
      content: "|";
      color: #808080;
      font-weight: bold;
      padding: 0 5px; }

.m-newsletter {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 1px dashed #d9d9d9;
  border-top: 1px dashed #d9d9d9;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
  -ms-flex-flow: row nowrap;
      flex-flow: row nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 5px 10px;
  margin: 10px 0; }
  @media all and (max-width: 768px) {
    .m-newsletter {
      -ms-flex-flow: row wrap;
          flex-flow: row wrap; } }
  .m-newsletter-text {
    -webkit-box-flex: 0;
        -ms-flex: 0 2 auto;
            flex: 0 2 auto;
    padding-left: 40px;
    min-height: 32px;
    font-size: 12px;
    background: url("../content/icons/letter.png") left center no-repeat; }
  .m-newsletter-form {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
        -ms-flex: 1 0 auto;
            flex: 1 0 auto;
    -ms-flex-flow: row nowrap;
        flex-flow: row nowrap;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end; }
  .m-newsletter-input {
    border: 1px solid #034f84;
    border-radius: 3px 0 0 3px;
    height: 23px;
    margin-left: 5px;
    padding: 3px; }
    @media all and (max-width: 768px) {
      .m-newsletter-input {
        -webkit-box-flex: 1;
            -ms-flex: 1 0 auto;
                flex: 1 0 auto; } }
  .m-newsletter-btn {
    background: white;
    border: 1px solid #034f84;
    border-radius: 0 3px 3px 0;
    cursor: pointer;
    padding: 3px 3px;
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    font-weight: bold;
    height: 23px; }
    .m-newsletter-btn:hover {
      background: #bce2fd; }
    .m-newsletter-btn:active {
      background: #034f84;
      box-shadow: 2px 2px 10px #8acdfc, 2px -2px 10px #8acdfc;
      color: #ffffff; }
