.m-article{
    flex: 1 0 22%;
    padding: 10px 10px;
    &-section{
        align-content: flex-start;
        display: flex;
        flex: 1 1 auto;
        flex-flow: row wrap;
    }
    @media all and (max-width: 768px){
        flex: 1 0 50%;
    }
    @media all and (max-width: 480px){
        flex: 1 0 100%;
    }
    &-img{
        margin: 0 auto;
        @include adaptiveImage();
    }
    &-footer{
        margin-top: 15px;
    }
    &-link{
        font:{
            size: 12px;
            weight: bold;
        }
        quotes: "" "\00A0\00bb";
        border-bottom: 1px dashed $color-border;
        &:hover{
            border-color: darken($color-border, 25%);
        }
        &:before{
            content: open-quote;
        }
        &:after{
            content: close-quote;
        }
    }
}