.m-carousel{
    flex: 0 0 auto;
    padding: 0 10px;
    position: relative;
    &-img{
        display: block;
        margin: 0 auto;
        @include adaptiveImage();
    }
    &-control{
        display: flex;
        flex: 1 1 auto;
        flex-flow: row nowrap;
        @media all and (max-width:768px){
            display: none;
        }
    }
    &-description{
        bottom: 30%;
        left: 0;
        padding: 0 10px;
        position: absolute;
        &:hover{
            opacity: 0.9;
        }
        @media all and (max-width:768px){
            bottom: 0;
            width: 100%;
        }
    }
    &-header{
        background: lighten($color-background, 15%);
        display: inline-block;
        padding: 10px 20px;
        @media all and (max-width:768px){
            background: transparentize($color-background, .25);
            width: 100%;
        }
    }
    &-summ{
        background: $color-background;
        font-style: italic;
        padding: 10px 20px;
        @media all and (max-width:768px){
            background: transparentize($color-background, .25);
        }
    }
}