.m-logo{
    align-items: center;
    background: url('../content/images/bg-clouds.png') no-repeat;
    background-size: cover;
    border-radius: 50%;
    display: flex;
    flex: 1 0 content;
    height: 120px;
    justify-content: center;
    text-align: center;
    vertical-align: bottom;
    width: 120px;
    img{
        @include adaptiveImage(60%, 60%);
    }
    &:hover{
        animation: move 20s linear infinite;
    }
}