.m-menu-item{
    background: $color-background;
    display: block;
    flex: 1 0 100px;
    padding: 10px 10px 10px 10px;
    text-align: left;
    &:hover{
        background: $color-background-shade;
    }
    @media all and (max-width: 992px){
        text-align: center;
        &-text{
            display: none;
        }

    }
}