.l-container{
    display: flex;
    flex-flow: column wrap;
    font-family: 'Times New Roman', Times, serif;
    margin: 0 auto;
    max-width: $container-max-width;
    min-width: $container-min-width;
    padding: $container-padding;
    @media all and (min-width:992px){
        flex-flow: row nowrap;
    }
    @media all and (max-width:768px){
        &{
            padding: $container-padding-sm;
        }
    }
}